<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {    
            background-image: url(https://thuthuatnhanh.com/wp-content/uploads/2019/12/hinh-nen-may-tinh.jpg);
        }               
        .login form {
            width:700px;
            height: 405px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.59);
            border-radius: 10px;
            margin-top: 12%; 
            margin-right:10%;
            margin-left: 28%;
            background-color: beige;
            padding: 0 40px;
        }
        .login h1 {
                font-weight: bold;
                font-size: 40px;
                text-align: center; 
                user-select: none;
        }
        .login div {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
        }
        .login div label {
                    
                    font-size: 1.4rem;
                    user-select: none;
                    color: #515A5A;
                    
                }
        input {
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #515A5A;
                    padding: 0.8rem 0;
                    transition: all 0.4s ease-out;
                    border-radius: 10px;
        }
        input:focus, input:valid {
                    border-bottom: 2px solid #28B463;
        }
        button {
                outline: none;
                border: none;
                margin-top: 30px;
                padding: 15px;
                background-color: #2ECC71;
                color: white;
                font-size: 25px;
                cursor: pointer;
                border-radius: 10px;
                transition: all 0.4s ease-out;
        }
        button:hover {
                background-color: #28B463;
        } 
    </style>
</head>
<body>
    <div class="login">
        <form method="POST" action="">
            <h1>Đổi Mật Khẩu</h1>
            <input type="hidden" name="id" value="{{user._id}}">
            <div>
                <label for="login_username">Mật khẩu Cũ</label>
                <input 
                    type="password"
                    name="password"
                >
            </div>
            <div>
                <label for="login_password">Mật Khẩu Mới</label>
                <input 
                    value="{{user.password}}"
                    type="password"
                    name="password"
                >
            </div>
            <button type="submit">Xác nhận</button>
        </form>
    </div>
</body>
</html>